*.db
*.db=journal
__pycache__
lib/bot/token.0
token.0
proba.py
Files/coverLocalMusic.jpg
Files/diagram.png
Files/reminders.txt
Files/profpic.png
Files/globalsForTheDatabase.txt
Files/globalsDefaultValueImport.txt
Files/huntmmr.txt
database_mongo/db_con__with_other_battabot
cogs/random.py
backup_depr
database_mongo/plot/plotPoints.py
ffmpeg
.idea
.venv/
proba.py
Files/globalsDefaultValueImport.txt
cogs/database2.py
